<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">

  <link rel="stylesheet" href="../../../static/css/welcome.css">

</head>
<body style="background-repeat: no-repeat;background-size: 100% 100%;">

<div class="roate-container">
  <div class="screen-bg"></div>
  <div id="roate1">
    <div class="roate-item icon-roate-1"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item icon-roate-2"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item icon-roate-3"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item icon-roate-4"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
  </div>
  <div id="roate2">
    <div class="roate-item icon-sq-1"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item icon-sq-2"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
    <div class="roate-item"></div>
  </div>
</div>

<script src="../../../static/js/jquery.min.js"></script>
<script src="../../../static/js/welcome.js"></script>
 <script type="text/javascript">
    var curIndex = 0;
    //时间间隔(单位毫秒)，每秒钟显示一张，数组共有3张图片放在img文件夹下
    var timeInterval = 1000;

    //定义一个存放照片位置的数组，可以放任意个，在这里放3个
    var arr = new Array();
    arr[0] = "https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562612344473&di=1742c0f1b138e305c5dd98f4f1b623be&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2Fec0d3e515becac5f992aac51876eb32818b520d95c9f5-MggA9x_fw658";
    arr[1] = "https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562612344473&di=1742c0f1b138e305c5dd98f4f1b623be&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2Fec0d3e515becac5f992aac51876eb32818b520d95c9f5-MggA9x_fw658";
    arr[2] = "https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562612344473&di=1742c0f1b138e305c5dd98f4f1b623be&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2Fec0d3e515becac5f992aac51876eb32818b520d95c9f5-MggA9x_fw658";
    setInterval(changeImg, timeInterval);
    function changeImg() {
        if (curIndex == arr.length - 1) {
            curIndex = 0;
        } else {
            curIndex += 1;
        }

        //设置body的背景图片
       // document.body.style.backgroundImage = "URL("+arr[curIndex]+")";  //显示对应的图片
    }
</script>
</body>
</html>