<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录页面</title>
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link href="../../../static/app/wl/css/style1.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../../../static/app/wl/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../../static/app/wl/js/form.js"></script>


</head>
<body>
<section class="aui-flexView">
	<header class="aui-navBar aui-navBar-fixed">
		<!--<a href="javascript:;" class="aui-navBar-item">
			<i class="icon icon-return"></i>
		</a>
		<div class="aui-center">
			<span class="aui-center-title"></span>
		</div>
		<a href="javascript:;" class="aui-navBar-item">
			<i class="icon icon-info"></i>
		</a>-->
	</header>
	<section class="aui-scrollView">

		<div class="aui-account-link">
			<div>
				<img src="../../../static/app/wl/images/wx.png" alt="" style="height: 70px;width: 70px;">
			</div>
			<h1 style="color:white;">您的优质之选</h1>
		</div>

		<div class="aui-account-input" style="margin-top: 50px;">
			<div class="b-line">
				<input type="text" placeholder="请输入用户名" id="login_phone">
				<label class="err err-top40" id="login_phone_text">请输入用户名</label>
			</div>
			<div class="">
				<input type="password" placeholder="请输入密码 " id="login_password">
				<label class="err err-top40" id="login_password_text">请输入密码</label>
			</div>
		</div>
		<div class="aui-account-button">
			<button id="login_submit">登录</button>
		</div>
		<div class="aui-account-link">
			<a href="javascript:;">注册账号</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="javascript:;">忘记密码</a>
		</div>

		<div class="aui-account-footer">
			<div class="aui-account-footer-title">
				<h2>其它登录方式</h2>
			</div>
			<div class="aui-palace">
				<a href="javascript:alert('暂未开放');" class="aui-palace-grid">
					<div class="aui-palace-grid-icon">
						<img src="../../../static/app/wl/images/wx.png" alt="">
					</div>
					<div class="aui-palace-grid-text">
						<h2>微信</h2>
					</div>
				</a>
				<a href="javascript:alert('暂未开放');" class="aui-palace-grid">
					<div class="aui-palace-grid-icon">
						<img src="../../../static/app/wl/images/wb.png" alt="">
					</div>
					<div class="aui-palace-grid-text">
						<h2>微博</h2>
					</div>
				</a>
				<a href="javascript:alert('暂未开放');" class="aui-palace-grid">
					<div class="aui-palace-grid-icon">
						<img src="../../../static/app/wl/images/qq.png" alt="">
					</div>
					<div class="aui-palace-grid-text">
						<h2>QQ</h2>
					</div>
				</a>
			</div>
		</div>


	</section>
</section>
</body>
<script type="text/javascript">
	$(function(){
		var regconfig=[
			{eleinput:"login_phone",eletext:"login_phone_text",rule:[{reg:/^.+$/,text:"用户名不能为空"}]},
			{eleinput:"login_password",eletext:"login_password_text",rule:[{reg:/^.+$/,text:"密码不能为空"}]}
		];
		tbdValidate(
			regconfig,
			{
				elesubmit:"login_submit",//提交按钮
				funsubmit:function(){//验证通过可提交回调
					//信息提交接口
					alert("登陆成功");
				},
				funerr:function(){//不可提交回调

				},
				funerrlist:function(errlist){
					$('#'+ errlist[0]).focus();
				}
			}
		);

	});
</script>
</html>
