<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="../../../static/app/wl/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/app/wl/css/css.css"/>
		<script type="text/javascript" src="../../../static/app/wl/js/jquery-1.11.1.js" ></script>
	</head>
	<body>
		<img src="../../../static/app/wl/img/banner.jpg" class="banner"/>
		<script type="text/javascript" src="../../../static/app/wl/js/js.js" ></script>
	</body>
</html>
