<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="../../../static/app/wl/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/app/wl/css/css.css"/>
		<script type="text/javascript" src="../../../static/app/wl/js/jquery-1.11.1.js" ></script>
	</head>
	<body>
		<div class="nth"></div>
		<div class="nth1">
			<div>
				<ul>
					<li>
						<span></span>
						<p>#ff74af</p>
					</li>
					<li>
						<span></span>
						<p>#ff8bbd</p>
					</li>
					<li>
						<span></span>
						<p>#ff8bbd</p>
					</li>
					<li>
						<span></span>
						<p>#ff6600</p>
					</li>
					<li>
						<span></span>
						<p>#333333</p>
					</li>
					<li>
						<span></span>
						<p>#666666</p>
					</li>
					<li>
						<span></span>
						<p>#999999</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="nth2"></div>
		<div class="nth3"></div>
		<div class="nth4"></div>
		<div class="nth5"></div>
		<script type="text/javascript" src="../../../static/app/wl/js/js.js" ></script>
	</body>
</html>
