<head>
    <meta charset="utf-8" />
    <title>梦之起航后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/Styles/admin-all.css" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/chur.css" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/formui.css" />
    <script type="text/javascript" src="/static/Scripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/static/Scripts/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="/static/Scripts/index.js"></script>
    <script type="text/javascript" src="/static/Scripts/ChurAlert.min.js?skin=blue"></script>
    <script type="text/javascript" src="/static/Scripts/chur-alert.1.0.js">
    </script>
    
</head>