<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../../static/css/font.css">
    <link rel="stylesheet" href="../../../static/css/xadmin.css">
    <script src="../../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../../static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        html{
            　　min-height:101%;    //最重要的一点
        　　position: relative;
        }

        html{ overflow:-moz-scrollbars-vertical;}
    </style>
</head>

<body>
<div class="x-nav" style="display:none;">
    <!--<span class="layui-breadcrumb">
           <a href="">首页</a>
           <a href="">演示</a>
           <a>
             <cite>导航元素</cite></a>
         </span>-->
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">

    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','./admin-add.html')"><i class="layui-icon"></i>添加</button>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr style="background-color: #ffffff;">
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <#if (colnumNameLists?size>0)>
                <#list colnumNameLists as colnum>
                    <th>${colnum!}</th>
                </#list>
                <#else>
                <#list colnumList as colnum>
                    <th>${colnum!}</th>
                </#list>
            </#if>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <#if page??>
        <#if page.list??>
        <#list page.list as item>
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <#list colnumList as colnum>
                <td>
                    <#if (item[colnum])??>
                         ${item[colnum]}
                    </#if>
                </td>
            </#list>
            <td class="td-status">
                <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>
            <td class="td-manage">
                <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">
                    <i class="layui-icon">&#xe601;</i>
                </a>
                <a title="编辑"  onclick="x_admin_show('编辑','admin-edit.html')" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        </#list>
        <#else>
        <tr> <p>   抱歉!暂时无数据 </p>  </tr>
    </#if>
    <#else>
    <tr>  <p>   抱歉!暂时无数据 </p>  </tr>
</#if>


</tbody>
</table>
<div class="page">
    <#if page??>
    <tr class="pager">
        <th colspan="100"><div class="message">

        </div>

            <div style="text-align:center;">
                共<i class="blue">${page.total}</i>条记录，当前显示第 <i
                    class="blue">${page.pageNum}/${page.pages}</i> 页
                <#if !page.isFirstPage >
                <a href="javascript:queryAll(${page.firstPage}, ${page.pageSize});"><<</a>
                <a href="javascript:queryAll(${page.prePage}, ${page.pageSize});"><</a>
                <#else>
                <a href=""><<</a>
                <a href=""><</a>
            </#if>
            <#list page.navigatepageNums as navigatepageNum>
            <#if navigatepageNum==page.pageNum>
            <a href="javascript:queryAll(${navigatepageNum}, ${page.pageSize});">${navigatepageNum}</a></li>
        </#if>
        <#if navigatepageNum!=page.pageNum>
        <a href="javascript:queryAll(${navigatepageNum}, ${page.pageSize});">${navigatepageNum}</a></li>
    </#if>
</#list>
<#if !page.isLastPage>
<a href="javascript:queryAll(${page.nextPage}, ${page.pageSize});">></a>
<a href="javascript:queryAll(${page.lastPage}, ${page.pageSize});">>></a>
<#else>
<a href="">></a>
<a href="">>></a>
</#if>
</div>    </th>
</tr>
<#else>
<tr class="pager">
    <th colspan="100"><div class="message">

    </div>

        <div style="text-align:center;">
            共<i class="blue">0</i>条记录，当前显示第 <i
                class="blue">1/1</i> 页
            <a href=""><<</a>
            <a href=""><</a>
            <a href="">1</a></li>
            <a href="">></a>
            <a href="">>></a>

        </div>    </th>
</tr>
</#if>
</div>

</div>
<script>

    $(function() {// 初始化内容
        getData();
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*用户-停用*/
    function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){

            if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

            }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }



    function delAll (argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
    function queryAll(pageNum, pageSize){
        document.location.href="personalChar.do?pageNum="+pageNum;
    }

    function getData(){
        var tableName = '${tableName}';
        $.ajax({
            url:"getDataByAjax.do",
            type:'post',
            data:{tableName:tableName},
            beforeSend:function () {

            },
            success:function(data){

                alert(data)
            },
            complete: function () {

            },
            error: function () {

            }
        });
    }
</script>
</body>

</html>