<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>风宇个人博客</title>
	<style>

		/* music */
		@-webkit-keyframes reverseRotataZ{
			0%{-webkit-transform: rotateZ(0deg);}
			100%{-webkit-transform: rotateZ(-360deg);}
		}
		@-webkit-keyframes rotataZ{
			0%{-webkit-transform: rotateZ(0deg);}
			100%{-webkit-transform: rotateZ(360deg);}
		}
		#musicControl { position:fixed;right:10px;top:20px;margin-top:0;display:inline-block;z-index:99999999}
		#musicControl a { display:inline-block;width:25px;height:25px;overflow:hidden;background:url('/static/blog/img/logo0.png') no-repeat;background-size:100%;}
		#musicControl a audio{width:100%;height:56px;}
		#musicControl a.stop { background-position:left bottom;}
		#musicControl a.on { background-position:0px 1px;-webkit-animation: reverseRotataZ 1.2s linear infinite;}
		#music_play_filter{width:100%;height:100%;overflow:hidden;position:fixed;top:0;left:0;z-index:99999998;}
	</style>
</head>

<link href="/static/blog/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/blog/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/static/blog/css/moodList.css"/>
<link rel="stylesheet" href="/static/blog/plugin/jquery.page.css">
<link href="/static/blog/logo.ico" rel="shortcut icon"/>
<script src="/static/blog/plugin/jquery.min.js"></script>
<script src="/static/blog/plugin/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/blog/plugin/jquery.page.js"></script>
<script src="/static/blog/js/common.js"></script>
<!--<script src="js/snowy.js"></script>-->
<script type="text/javascript">

$(function(){
	$("#page").Page({
	  totalPages: ${page.pages},//分页总数
	  liNums: 5,//分页的数字按钮数(建议取奇数)
	  activeClass: 'activP', //active 类样式定义
	  callBack : function(page){
			//console.log(page)
	  }
  });
})
</script>
<body>
	<div class="w_header">
		<div class="container">
			<div class="w_header_top">
				<a href="#" class="w_logo"></a>
				<!--<span class="w_slogan">百度一下,你就知道</span>-->
				<span class="w_header_nav">
					<ul>
						<li><a href="/">首页</a></li>
						<li><a href="blogabout.html">关于</a></li>
						<li><a href="blogartcle.html">成长</a></li>
						<!--<li><a href="">学习</a></li>
						<li><a href="">娱乐</a></li>-->
						<li><a href="blogmoodList.html" class="active">说说</a></li>
						<li><a href="blogcomment.html">留言</a></li>
					</ul>
				</span>
				<div class="w_search">
					<div class="w_searchbox">
						<input type="text" placeholder="search" />
						<button>搜索</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="w_container">
		<div class="container">
			<div class="row w_main_row">
				<ol class="breadcrumb w_breadcrumb">
				  <li><a href="#">首页</a></li>
				  <li class="active">说说</li>
				  <span class="w_navbar_tip">删删写写，回回忆忆，虽无法行云流水，却也可碎言碎语</span>
				</ol>
					

			<div class="bloglist">
				<#if page??>
					<#if page.list??>
						<#list page.list as item>
							<ul class="arrow_box">
								<div class="sy">
									<img src="${item.newImages!}">
									<p> ${item.newsContent!}</p>
								</div>
								<p class="bloglist_count"><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:22</span><span class="count"><i class="glyphicon glyphicon-comment"></i>评论:0</span></p>
								<span class="dateview">${(item.newsTime?number_to_datetime)!}</span>
							</ul>
						</#list>
						<#else>
							<tr> <p>   抱歉!暂时无数据 </p>  </tr>
					</#if>
				</#if>


				<!-- <ul class="arrow_box">
                      <div class="sy">
                           <p> 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
                     </div>-->
                     <!--<p class="bloglist_count"><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:88</span><span class="count"><i class="glyphicon glyphicon-comment"></i>评论:2</span></p>-->
				<!--<span class="dateview">2017-02-01</span>
              </ul>-->
			    
		  </div>
		  
			
			<div id="page">
				
			</div>
			
			
			
			</div>
		</div>
	</div>
	<div class="w_foot">
		<!--<div class="w_foot_copyright">© 2015~2016 版权所有 | <a target="_blank" href="http://www.miitbeian.gov.cn/" rel="nofollow">京ICP备15010892号-1</a></div>-->
		<div class="w_foot_copyright">Copyright © 2017-2020, www.wfyvv.com. All Rights Reserved. </div>
	</div>
	<span id="musicControl">
			<a id="mc_play" class="on" onclick="play_music();">
				<audio id="musicfx" loop="loop" autoplay="autoplay">
					<source src="/static/blog/1.mp3" type="audio/mpeg">
				</audio>
			</a>
		 </span>
	<!--toTop-->
	<div id="shape">
		<div class="shapeColor">
			<div class="shapeFly">
			</div>
		</div>
	</div>
	<!--snow-->
	<!--<div class="snow-container"></div>-->
	<script type="text/javascript">
        var $backToTopEle = $('<a href="javascript:void(0)" class="Hui-iconfont toTop" title="返回顶部" alt="返回顶部" style="display:none">^</a>').appendTo($("body")).click(function() {
            $("html, body").animate({ scrollTop: 0 }, 120);
        });
        var backToTopFun = function() {
            var st = $(document).scrollTop(),
                winh = $(window).height();
            (st > 0) ? $backToTopEle.show(): $backToTopEle.hide();
			/*IE6下的定位*/
            if(!window.XMLHttpRequest) {
                $backToTopEle.css("top", st + winh - 166);
            }
        };

        $(function() {
            play_music();
            $(window).on("scroll", backToTopFun);
            backToTopFun();
            $('a').click(function(){
                var href = $(this).attr('href');
                if(!href || /^(javascript:)|#/.test(href)) return;
                window.location.href = href;
                loading();
                return false;
            });

            function loading() {
                //$('body').append('加载中效果');
            }
        });


        <!-- music -->
        function play_music(){
            if ($('#mc_play').hasClass('on')){
                $('#mc_play audio').get(0).pause();
                $('#mc_play').attr('class','stop');
            }else{
                $('#mc_play audio').get(0).play();
                $('#mc_play').attr('class','on');
            }
            $('#music_play_filter').hide();
            event.stopPropagation(); //阻止冒泡
        }
        function just_play(id){
            $('#mc_play audio').get(0).play();
            $('#mc_play').attr('class','on');
            if (typeof(id)!='undefined'){
                $('#music_play_filter').hide();
            }
            event.stopPropagation(); //阻止冒泡
        }
        function is_weixn(){
            return false;
            var ua = navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i)=="micromessenger") {
                return true;
            } else {
                return false;
            }
        }
        var play_filter=document.getElementById('music_play_filter');
        play_filter.addEventListener('click', function(){
            just_play(1);
        });
        play_filter.addEventListener('touchstart', function(){
            just_play(1);
        });
        play_filter.addEventListener('touchend', function(){
            just_play(1);
        });
        play_filter.addEventListener('touchmove', function(){
            just_play(1);
        });
        play_filter.addEventListener('mousedown', function(){
            just_play(1);
        });
        play_filter.addEventListener('mouseup', function(){
            just_play(1);
        });
        play_filter.addEventListener('mousemove',function(){
            just_play(1);
        });
        window.onload=function(){
            if (!is_weixn()){
                just_play();
            }
        }
	</script>
</body>
</html>
